services:
  web:
    build:
      context: ./
      dockerfile: development.Dockerfile
    command: bash -c "rm -f tmp/pids/server.pid && bin/rails s -e development -p 3000 -b '0.0.0.0' && bin/vite dev"
    volumes:
      - .:/usr/src/app
      - bundle:/usr/local/bundle
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - HISTFILE=/usr/src/app/log/.bash_history
    restart: always
    depends_on:
      db:
        condition: service_started
      redis:
        condition: service_started
  db:
    image: postgres:16
    expose:
      - "5433"
    ports:
      - "5433:5433"
    environment:
      - POSTGRES_PASSWORD=changeme
      - POSTGRES_PORT=5433
    restart: always
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: pg_isready -U postgres
      interval: 2s
      timeout: 5s
      retries: 30
    command: -p 5433
  redis:
    image: redis
    volumes:
      - redis_data:/data

volumes:
  pg_data:
  redis_data:
  bundle: